
<h1>Appointment New</h1>

<div class="login">
  <div class="container">
    <%= form_for :appointment, url: '/appointments' do |f| %>



		<%= f.collection_select :doctor_id, Doctor.all, :id, :fname %>

      <%= f.text_field :room, :placeholder => 'room' %> 
      <%= f.datetime_field :time, :placeholder => 'time' %> 
      <%= f.submit "Schedule", :class => "form-btn" %>
    <% end %>
  </div>
</div>


